@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    margin-inline: 24px;
} 

.in4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    height: 100px;
    margin: 25px auto;
    gap: 20px;
    white-space: nowrap;
}

.in4_name_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.in4_name_name {
    flex: 1;
    padding-top: 20px;
}

.in4_social {
    display: flex;
    gap: 10px;
}

.table_in4 {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.table_non_img {
    display: flex;
    flex-direction: column;
}

.hi {
    font-weight: 500;
    padding-top: 20px;
    padding-left: 40px;
}

.i_am {
    font-size: 40px;
    padding-top: 40px;
    padding-left: 40px;
    font-weight: bold;
}

.num {
    display: flex;
    color: red;
    font-size: 35px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 40px;
}
.num span {
    margin-right: 60px;
}

.note {
    font-size: 15px;
    padding-left: 40px;
}

.note2 {
    margin-left: 30px;
}

.note3 {
    margin-left: 50px;
}

.me {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.about_me {
    margin: 45px 0 30px;
    text-decoration: underline red;
    font-size: 14px;
}

.me_about {
    font-size: 20px;
    letter-spacing: 2px;
    opacity: 0.8;
    font-weight: 200;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 45px;
    border-radius: 30px;       
    border: 2px solid red;
    padding: 8px 16px;
}

.download a {
    text-decoration: none;
    color: red;
}

.skill table {
    width: 80%; 
    table-layout: fixed; 
    margin: 40px auto 50px;
}

.skill td {
    width: 50%; 
    vertical-align: top;
    padding: 10px; 
}

.skill_group {
    margin-bottom: 10px; 
    font-size: 18px; 
    text-decoration: underline red;
    margin-left: 12px;
}

.skill ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.skill ul li {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    margin: 20px 5px;
    padding: 5px 10px; 
    background-color: white;
    border-radius: 30px;
    border: 2px solid gray;
    font-size: 15px; 
}

.work_experience {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.work_ex {
    font-weight: 700;
    text-decoration: underline red;
    width: 20%;
}

.table_Work {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.present, .y2018_2019 {
    vertical-align: top;
}

.line1 {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 15px;
}

.line2 {
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 15px;
}

.line3 {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 30px;
}

.line4 {
    margin-bottom: 15px;
}

li {
    font-size: 15px;
    margin-bottom: 15px;
}
