@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

    .schedule {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(215, 215, 67);
        grid-column-start: 2 ;
        grid-row-start: 1;
        grid-row-end: 3;

        .content {
            color: white;
            text-align: center;
        }
    }

    .schedule-left {
        height: 100%;
        width: 100%;
        grid-row-end: 3;
        grid-row-start: 1;
        display: grid;
        grid-template-rows: 50% 50%;

        .speakers {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(84, 84, 213);

            .content {
                color: white;
                text-align: center;
            }
        }

        .speakers-under {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;

            .tickets {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: red;
                grid-column-start: 2 ;
                grid-row-start: 1;
                grid-row-end: 3;

                .content {
                    color: white;
                    text-align: center;
                }
            }

            .tickets-left {
                height: 100%;
                width: 100%;
                grid-row-end: 3;
                grid-row-start: 1;
                display: grid;
                grid-template-rows: 50% 50%;

                .sponsors {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: aqua;

                    .content {
                        color: white;
                        text-align: center;
                    }
                }

                .sponsors-under {
                    height: 100%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 50% 50%;

                    .venue {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: rgb(41, 125, 41);
                        grid-column-start: 2 ;
                        grid-row-start: 1;
                        grid-row-end: 3;

                        .content {
                            color: white;
                            text-align: center;
                        }
                    }

                    .venue-left {
                        height: 100%;
                        width: 100%;
                        grid-row-end: 3;
                        grid-row-start: 1;
                        display: grid;
                        grid-template-rows: 50% 50%;

                        .home {
                            height: 100%;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            background-color: rgb(212, 212, 66);
                            .content {
                                color: white;
                                text-align: center;
                            }
                        }

                        .home-under {
                            height: 100%;
                            width: 100%;
                            display: grid;
                            grid-template-columns: 50% 50%;

                            .item1 {
                                height: 100%;
                                width: 100%;
                                background-color: rgb(64, 23, 154);
                                grid-column-start: 2 ;
                                grid-row-start: 1;
                                grid-row-end: 3;
                            }

                            .item1-left {
                                height: 100%;
                                width: 100%;
                                grid-row-end: 3;
                                grid-row-start: 1;
                                display: grid;
                                grid-template-rows: 50% 50%;

                                .close {
                                    height: 100%;
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: black;

                                    .content {
                                        color: white;
                                        text-align: center;
                                    }
                                }

                                .close-under {
                                    height: 100%;
                                    width: 100%;
                                    display: grid;
                                    grid-template-columns: 50% 50%;

                                    .item3 {
                                        height: 100%;
                                        width: 100%;
                                        background-color: red;
                                    }

                                    .item2 {
                                        height: 100%;
                                        width: 100%;
                                        background-color: rgb(233, 233, 97);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 899px) {
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        .schedule {
            grid-column: 1/ span 1;
        }
 
        }
        
        .speakers {
            grid-row: 2 / span 1;
        }
}

@media only screen and (max-width: 599px) {
    .container {
        grid-template-rows: 1fr 1fr;

        .schedule {
            grid-row: 1 / span 1;
            grid-column: 1 / span 3;
        }

        .schedule-left {
            grid-row: 2 / span 1;
            grid-column: 1 / span 3;
        }
    }
}
